{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 style="font-family:'Spartan', sans-serif;color:#fff">{% trans 'Login' %}</h1>
					<nav class="d-flex align-items-center">
						<a href="/" style="font-family:'Spartan', sans-serif">{% trans 'Home' %}<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html" style="font-family:'Spartan', sans-serif">{% trans 'Login' %}</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.png' %}" alt="">
						<div class="hover">
							<div class="container">
								<h2 style="color:#fff;text-align:center">New to our website?</h2>
							<p style="color:#fff;text-align:center">There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn mt-1"  href="{% url 'registration_register' %}">Create an Account</a>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>{% trans 'Login' %}</h3>
						<form class="row login_form"  method="post" >
							{% csrf_token %}
							{% for field in form %}
								{% for error in field.errors %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
								<p class="error">{{ error }}</p>
							{% endfor %}
							<input  type="hidden" name="next" value="{{ next }}" />
							<div class="col-md-12 form-group" style="padding:5px">
								<input type="text" class="form-control" style="font-size:2rem"  name="username" placeholder="Username" >
							</div>
							<div class="col-md-12 form-group" style="padding:5px">
								<input type="password" class="form-control" style="font-size:2rem"  name="password" placeholder="Password" >
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">{% trans 'Keep me logged in' %}</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<a class="primary-btn" style="color:#fff" type="submit" value="submit" href="{% url 'registration_register' %}">{% trans 'Log In' %}</a>
								<a href="{% url 'auth_password_reset' %}">{% trans 'Forgot Password?' %}</a>
							</div>
						</form>
							{% for message in messages %}
								<p id="messages">{{message}}</p>
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}