{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
.box-white {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
</style>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 style="font-family:'Spartan', sans-serif">{% trans 'About us' %}</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html" style="font-family:'Sparta', sans-serif">{% trans 'Home' %}<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html" style="font-family:'Sparta', sans-serif">{% trans 'About us' %}</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
    <br>
    <h3 style="text-align: center">About us</h3>
    <div class="container">
      <div class="box-white">
        <div class="row">
            <div class="col-md-6">
                <p class="mt-5">Мы - команда, имеющая огромный опыт в плодово-овощном бизнесе.Mы занимаемся импортом ягод, фруктов, овощей, грибов, трав, орехов из Европы, Африки, Азии с целью дальнейшего снабжения продовольственных магазинов и предприятий общепита. На данном этапе у нас есть собственная логистическая цепочка, включающая специализированный транспорт, плодово-овощное хранилище и надежных, проверенных временем, поставщиков качественной продукции.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="https://www.freepnglogos.com/uploads/vegetables-png/buy-high-quality-organic-vegetables-and-fruits-online-7.png" alt="">
                </div>

            </div>
        </div>
     <div class="box-white">
        <div class="row">
             <div class="col-md-6">
                 <img class="img-fluid" src="https://www.freepnglogos.com/uploads/vegetables-png/buy-high-quality-organic-vegetables-and-fruits-online-7.png" alt="">
                </div>

                <div class="col-md-6">
                    <p>Мы осуществляем доставку овощей собственной курьерской службой. Почему стоит покупать именно у нас:</p>
                    <ul>
                        <li>sss</li>
                    </ul>
                </div>
            </div>
        </div>
     <div class="box-white">
        <div class="row">
            <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore porro quos suscipit ullam? A aliquam at atque blanditiis culpa cum cupiditate delectus dignissimos distinctio dolor doloribus est eveniet, fuga harum ipsa laboriosam laborum mollitia nam obcaecati, odit perspiciatis quasi quod ratione recusandae tempore veniam vero voluptas. Culpa error expedita ipsam nam nihil nulla quasi reprehenderit, unde veritatis? Adipisci aliquid consequuntur dolore harum quaerat quibusdam sapiente tempore tenetur unde vel. Accusantium aliquam aut autem distinctio dolore, dolores excepturi expedita, laboriosam magni odio perferendis provident qui sapiente sequi tempora tempore, voluptas?</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="https://www.freepnglogos.com/uploads/vegetables-png/buy-high-quality-organic-vegetables-and-fruits-online-7.png" alt="">
                </div>

            </div>
        </div>
    </div>


{% endblock %}