{% load i18n %}
{% load static %}
<style>
    .a-active {
        color:#EB5757 !important
    }


.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}
</style>

<div class="col-xl-3 col-lg-4 col-md-5">
<ul id="accordion" class="accordion">
  <li>
    <div class="link"><i class="fa fa-database"></i>Web Design<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Photoshop</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-code"></i>Coding<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Javascript</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-mobile"></i>Devices<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Mobile</a></li>
      <li><a href="#">Desktop</a></li>
    </ul>
  </li>
  <li>
    <div class="link"><i class="fa fa-globe"></i>Global<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <li><a href="#">Google</a></li>
      <li><a href="#">Bing</a></li>
      <li><a href="#">Yahoo</a></li>
    </ul>
  </li>
</ul>
    <a style="color:#000;" href="{% url 'products:lists' %}">
        <button class="btn btn2 w-100" style="background-color:#EB5757;color:#fff;border-radius:10px 10px 10px 10px;padding:14px">
            <b style="font-size:20px;font-weight:500;position:relative">{% trans 'Clear filter' %}</b></button></a>

            <div class="sidebar-categories">
                  <div class="common-filter">
                      <br>
                    <div class="head text-center" style="font-weight:bold;font-family:sans-serif;font-size:22px;text-align:center;border-radius:10px 10px 0px 0px">{% trans 'Price' %}</div>
                      <br>
                    <input type="text" class="js-range-slider" style="background-color:white"/>
                </div>
                <br>
                <div class="head" id="men" style="font-weight:bold;font-family:sans-serif;font-size:22px;text-align:center;border-radius:10px 10px 0px 0px">{% trans 'Categories' %}</div>
                <ul class="main-categories" style="border-radius:10px">
                    <li class="main-nav-list">
                        {% for categories in category %}
                         <a {% if request.GET.category == categories.pk|stringformat:'i' %}class="a-active"{% endif %} style="text-align:center;font-size:18px;cursor:pointer" onclick="addUrlParameter('category', '{{ categories.pk }}')" style="cursor:pointer">
                            <span class="lnr lnr-arrow-right"></span>{{ categories.title }}<span
                                class="number"></span></a>
                        {% endfor %}
                    </li>
                </ul>
                <br>
            </div>


    <br>

        </div>
{% block extra_js %}
<script>
(function () {
    var Accordion = function (el, multiple) {
        this.el = el || {};
        this.multiple = multiple || false;

        // Variables privadas
        var links = this.el.find('.link');
        // Evento
        links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }

    Accordion.prototype.dropdown = function (e) {
        var $el = e.data.el;
        $this = $(this),
        $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');

        if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
        }
        ;
    }

    var accordion = new Accordion($('#accordion'), false);
});
</script>
{% endblock %}
